<table class="ui celled table">
  <thead>
    <tr>
      <th>User</th>
      <th>Admin</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |user|}}
      {{#unless user.isNew}}
        <tr>
          <td>{{user.username}}</td>
          <td class="collapsing center aligned">
            <i class="{{if user.is_admin 'checkmark' 'remove' }} icon"></i>
          </td>
          <td class="collapsing">
            <button class="ui negative mini button" {{action 'delete' user}}>
              Delete
            </button>
          </td>
        </tr>
      {{/unless}}
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="3">
        <button class="ui primary mini button" {{action 'showNewDialog'}}>
          New
        </button>
      </th>
    </tr>
  </tfoot>
</table>

{{#modal-dialog
  title='New User'
  visible=newVisible
  loading=newLoading
  getPromise=(action 'getNewPromise')
}}
  <form class="ui form">
    <div class="field">
      <div class="ui fluid input">
        {{input placeholder='Username' value=username disabled=newLoading}}
      </div>
    </div>
    <div class="field">
      <div class="ui fluid input">
        {{input placeholder='Password' type='password' value=password disabled=newLoading}}
      </div>
    </div>
    <div class="field">
      <div class="ui toggle checkbox">
        {{input type='checkbox' checked=isAdmin disabled=newLoading}}
        <label>Admin</label>
      </div>
    </div>
  </form>
{{/modal-dialog}}
