<div class="ui middle aligned center aligned grid login">
  <div class="column">
    <form class="ui large form" {{action 'login' on='submit'}}>
      <div class="ui padded segment {{if loading 'loading'}}">
        <h2 class="ui header">
          Login
        </h2>
        {{#if errorMessage}}
          <div class="ui negative message">
            Error: {{errorMessage}}
          </div>
        {{/if}}
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            {{input placeholder='Username' value=username}}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            {{input placeholder='Password' type='password' value=password}}
          </div>
        </div>
        <button type="submit" class="ui fluid large primary button">Login</button>
      </div>
    </form>
  </div>
</div>
